
# Created by .ignore support plugin (hsz.mobi)
/vendor/
.idea/*
/storage/app
/storage/data
/storage/DemandSheet
/storage/drafts
/storage/framework
/storage/logs
/storage/user/img
/storage/
/tests
/config/database.php
/config/snappy.php

.env
